<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/index.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <!-- 经典三栏布局 -->
    <div class="container">
        <div class="left">
            left
        </div>
        <div class="right">
                right
        </div>
        <div class="middle">
                middle
        </div>

    </div>
    <!-- flex布局 -->
    <!-- <div style="width:100%;height:300px;background:linear-gradient(to right, green, red);display: flex;">
        <div class="flex2">
            flex
        </div>
        <div class="flex1">
            flex
        </div>
        <div class="flex2">
            flex
        </div>
        <div class="flex3">
            flex33333
        </div>
    </div> -->
    <!-- 修改checkbox的默认显示样式 -->
    <!-- <div class="checkbox">
        <input type="checkbox" id="change"/>
        <label for="change" >我最帅!</label>
    </div> -->
    <!-- 线性渐变 -->
    <!-- <div class="line_1">
         <div class="line_1_a"></div>
        <div class="line_1_b"></div>
    </div>
    <div class="line_2">
        <div class="line_2_a"></div>
        <div class="line_2_b"></div>
    </div>
     <div class="line_3">
        <div class="line_3_a"></div>
        <div class="line_3_b"></div>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- <script>
        自动扩高:auto
        $(function () {
            for (let i = 0; i < 10; i++) {
                $(".line_1").append(`
                    <div style="height:20px;background:linear-gradient(to right, white, black);">`+ i + `AAAAAAAAAAAAAaaa<br></div>
                `);
               // setTimeout(() => {}, 2000);
            }
        });
    </script> -->
</body>

</html>
